body { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: url("images/uglybg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    text-align: center;
}

avatar {
    margin: 2% 0% 2%;
}

img {
    width: 10%;
}

divContainer {
    margin: 2em 0em 2em;
}

h2 {
    color: rgb(238, 255, 5) !important;
    font-weight: bolder;
    font-family: sans-serif;
}

h3 {
    color:rgb(5, 184, 255);
}

hr {
    border-top: 8px solid coral;
    border-radius: 5px;
    margin-top: 2em; 
    margin-bottom: 2em;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    line-height: 2rem;
    font-weight: bolder;
    margin: 5% 0 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.grid-item {
    padding: 0 5% 0;
}
